<!DOCTYPE html>
<html>
<head>
  <title>YeonMo</title> <%# 이름바꿈.. %>
  <link rel="icon" type="image/png" href="yeonmofinger.png" /> <%# 파비콘 설정 %>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%#= csrf_meta_tags %> 
</head>
<body>

<div class="container">

  <div class="col-xs-10 col-sm-10 col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">

     <center><img src = "/yeonmo.png" class = "likelionface"/></center><%# 로고 얼굴 붙임 %>
        <%= render partial: "sharing/flash_message", flash: flash %>
    <div class = "login-title">
      <center>멋쟁이 사자처럼 3기 연락처 모음집</center><%# 소개 %>
    </div>
    <div class = "login-description">
      <center>* 클래스 라이언 아이디와 비밀번호로 로그인하세요 </center><%# 한class에 모음 %>
    </div>
      <form action="/sharing/confirm_id/" method = "POST">
        <div class="form-group">
          <center><input type="text" class="form-control" name="user_id" placeholder="Email"></center>
        </div>
        <div class="form-group">
          <center><input type="password" class="form-control" name="user_password" placeholder="Password"></center>
        </div>
        
        
        <div class="form-action">
          <center><input  type="submit" value="입장" class="btn btn-default btn-login"></center><%# 가운데 정렬. scss가서 참고하시길 %>
        </div>
      </form>
  </div>
</div>

</body>
</html>