<div class="title_background">
   <div class="jumbotron" style="background-color:rgba(0,0,0,0.3)">
    <div class="container-fluid">
      <div class="col-xs-10 col-sm-10 col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
          <h1 id="index_title"><strong><span style ="font-size:120px">S</span>haring<span style ="font-size:80px">N</span>umber</strong></h1>
            <p style ="color:rgba(255,255,255,0.7); font-family:BM-HANNAWeb">
           멋사 학우의 연락처를 물어보세요. <br> 당신의 번호를 입력하면 문자로 번호를 보내드립니다.
            </p>
            <span style="font-size :15px;color:rgba(255,20,20,0.7)">클래스라이온 아이디와 비밀번호로 로그인하세요.</span>
          <form action="/sharing/confirm_id/" method = "POST">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1" style="color:white;background-color:rgba(255,255,255,0.6)">ID          </span>
              <input type="text" class="form-control" name="user_id" placeholder="Email" aria-describedby="basic-addon1">
            </div>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1" style="color:white;background-color:rgba(255,255,255,0.6)">PW</span>
                    <input type="password" class="form-control" name="user_password" placeholder="Password" aria-describedby="basic-addon1">
                  </div>
                <input  type="submit" value="LOGIN" class="btn btn-default" aria-label="Right Align" style="position:relative; left:80%;color:white;background-color:rgba(255,255,255,0.6)">
          </form>
        </div>
   </div>
  </div>
</div>
