<div class = "container">
  <div class= "row">  
    <div class="list-group">
      <table class = "table" style = "background-color:white">
        <thead>
          <th class = "text-center col-lg-1">상태</th>
          <th>내용</th>
          <th>받은 사람</th>
        </thead>
          <%@user.posts.each do |p| %>
            <tr>
            <td class = "text-center col-lg-1r">
                <%if p.ischeck == 1%>
                  <button class = "btn btn-danger  btn-sm">거절</button>
                <%elsif p.ischeck == 2%>
                  <button class = "btn btn-primary btn-sm">수락</button>
                <%else p.ischeck == 0%>
                  <button class = "btn btn-default btn-sm">대기</button>
                <%end%>
              </td>
              <td ><%=p.context[0...30] %></td>
              <td ><%=User.find(p.receiver_id).name%></td>
            </tr>
          <%end%>
      </table>
    </div>     

</div>
