
<div class= "row">  
  <div class = "col-md-8 col-md-offset-2">
    <div class="list-group">

      <table class = "table" style = "background-color:white">
       <p class ="inform_describe">Messages </p>
        <thead>
          <th>매세지 내용</th>
          <th>받은 사람</th>
          <th class = "text-right">상태&nbsp&nbsp&nbsp</th>
          
        </thead>
          <%@user.posts.each do |p| %>
            <tr>
              <td ><%=p.context[0...15] %></td>
              <td ><%=User.find(p.receiver_id).name%></td>
              <td class = "text-right">
                <%if p.ischeck == 1%>
                  <button class = "btn btn-danger  btn-sm">거절</button>
                <%elsif p.ischeck == 2%>
                  <button class = "btn btn-primary btn-sm">수락</button>
                <%else p.ischeck == 0%>
                  <button class = "btn btn-default btn-sm">대기</button>
                <%end%>
              </td>
            </tr>
          <%end%>
      </table>
    </div>     
  </div>
</div>
