<h1 style = "color:white">번호 공개의 동의하시면 밑의 버튼을 눌러주세요</h1>
<a href = "/sharing/confirm_sms/<%=@post.id%>" >
<button  class = "btn btn-primary btn-lg" name = "status">동의합니다</button>            
</a>
<a href = "/sharing/reject_sms/<%=@post.id%>" >
<button   class = "btn btn-danger btn-lg"name = "status">거절합니다</button>            
</a>

