<div class = "container" >
  <%= render partial: "sharing/flash_message", flash: flash %>
  <div class = "row">
    <%@select.each do |a|%>
      <a href="/sharing/selection2/<%=a.id%>" >
        <div class = "uni univ-img" >
          <div class = "uni-header text-center"><img src = "/univ/<%=school_img(a.school)%>.jpg"></div>
          <div class = "uni-footer text-center"><strong><%=a.school%></strong></div>
        </div></a>
    <%end%>
  </div>    
</div>
 