<h1 id ="index_title">
    <strong><span style ="font-size:120px">S</span>haring<span style ="font-size:80px">N</span>umber</strong>
</h1>
<div class="jumbotron" style="background-color:rgba(255,255,255,0.2)">
    <div class = "container-fluid">
      <div class = "col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
            <p style ="color:white; font-family:BM-HANNAWeb">가입정보를 입력하세요</p>
            
            <form action ="/sharing/index">
                <p style ="color:white; font-family:BM-HANNAWeb">
                아이디 </p><input type = "text" name = "signup_id" placeholder="email-adress"><br>
    
                <p style ="color:white; font-family:BM-HANNAWeb">
                패스워드</p><input type = "password" name = "signup_pw">
               
                <input type="submit" value = "가입">
            </form>
        </div>
    </div>
</div>
